ADMIN_NAME: fdschoeneman
ADMIN_FIRST_NAME: Fred
ADMIN_LAST_NAME: Schoeneman
ADMIN_EMAIL: fred.schoeneman+admin@gmail.com
TOURIST_EMAIL: fred.schoeneman+tourist@gmail.com
ADMIN_PASSWORD: password
ROLES: [tourist, agent, admin]
AGENT_EMAIL: fred.schoeneman+agent@gmail.com
