.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to title, root_url, class: 'brand'
      %a.visible-phone.btn.btn-simple.pull-right{ href: "#footer-nav"}
        %i.icon-th-list
        %b Menu
      %ul.nav.pull-right.hidden-phone
        = render 'nav_links'
            